.container{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
}

.item{
    background-color:gainsboro;
    width: 300px;
    height: 200px;
}

.sub{
    background-color:gainsboro;
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(2, 90px);
    justify-content: center;
    gap: 5px;
}

.sub div{
    background-color: darkgray;
    width: 140px;
    height: 90px;
}

.sub_6{
    background-color:gainsboro;
    display: grid;
    grid-template-rows: repeat(2, 90px);
    justify-content: center;
    gap: 5px;
}

.sub_7{
    background-color:gainsboro;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    justify-content: center;
    gap: 5px;
}

.sub_7 div {
    background-color: darkgray;
    width: 140px;
    height: 180px;
}

.sub_6 div {
    background-color: darkgray;
    width: 280px;
    height: 90px;
}
