.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
}

.item_4{
    grid-row-start: 2;
    grid-row-start: 2;
    grid-row-start: 2;
}

.item_5{
    grid-row-start: 2;
    grid-row-start: 2;
    grid-row-start: 2;
}

.item_6{
    grid-row-start: 2;
    grid-row-start: 2;
    grid-row-start: 2;
}